<p>table works!</p>
<table class="table" type="checkbox">
  <thead>
    <tr>
      <td class="col">Name</td>
      <td class="col">Email</td>
      <td class="col">Address</td>
      <td class="col">Gender</td>
      <td class="col">Action</td>
    </tr>
  </thead>
  <tbody *ngFor="let item of data; let i = index">
    <tr>
      <td>{{ item.fullName }}</td>
      <!-- <td>{{}}</td> -->
      <td>{{ item.email }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.gender }}</td>
      <td>
        <!-- <button class="btn btn-info">Add</button> -->
        <button class="btn btn-sm btn-danger" (click)="onDelete(i)">
          Delete
        </button>
        <button
          class="btn-primary"
          type="updte"
          (click)="updatestudentForm(i, item)"
        >
          Update
        </button>
      </td>
    </tr>
  </tbody>
</table>
