<!-- <form class="form-horizontal">
   <div class="panel panel-primary"> -->
<div class="panel-heading">
  <h3 class="panel-title">Student Form</h3>
</div>

<form [formGroup]="studentForm" class="form-horizontsl" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="Sm-2" for="fullName">Full Name</label>
    <div class="col-8">
      <input
        id="fullName"
        formControlName="fullName"
        placeholder="Enter your name"
        type="text"
        class="form-control"
      />
      <span
        style="color: red"
        *ngIf="
          studentForm.controls.fullName.touched &&
          studentForm.controls.fullName.hasError('required')
        "
      >
        Name is Required
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="Sm-2" for="email">Email</label>
    <div class="col-8">
      <input
        id="email"
        formControlName="email"
        type="text"
        class="form-control"
        placeholder="abc@gmail.com"
      />
    </div>
    <span
      style="color: red"
      *ngIf="
        studentForm.controls.email.touched &&
        studentForm.controls.email.hasError('required')
      "
    >
      Email is Required
    </span>
  </div>
  <div class="form-group">
    <label class="Sm-2" for="address">Address</label>
    <div class="col-8">
      <input
        id="address"
        formControlName="address"
        type="text"
        class="form-control"
      />
    </div>
    <span
      style="color: red"
      *ngIf="
        studentForm.controls.address.touched &&
        studentForm.controls.address.hasError('required')
      "
    >
      fill detail Address
    </span>
  </div>
  <div class="form-group">
    <label>Gender</label>
    <div class="form-control">
      <label class="radio-inline">
        <input
          type="radio"
          value="male"
          name="gender"
          formControlName="gender"
        />Male
      </label>
      <label class="radio-inline">
        <input
          type="radio"
          value="Female"
          name="gender"
          formControlName="gender"
        />Female
      </label>
    </div>
  </div>

  <div class="panel-footer">
    <button class="btn-primary" type="submit">Save</button>
    <button class="btn-primary" type="reset" (click)="reset()">Reset</button>
    <!-- <button class="btn btn-primary">updateStudentForm</button> -->
  </div>
</form>
